<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><h1>Breast Cancer Prediction</h1></title>
</head>
<body>
    <form action="{{ url_for('predict')}}" method="POST">
        <label for="CT">Clump_Thickness: </label>
        <input type="number" id = "CT" name="Clump_Thickness"><br><br>
        <label for="UCS">Uniformity_of_Cell_Size:</label>
        <input type="number" id = "UCS" name="Uniformity_of_Cell_Size"><br><br>
        <label for="MA"> Marginal_Adhesion:</label>
        <input type="number" id="MA" name="Marginal_Adhesion"><br><br>
      
        <input type=submit    value=Submit>
   </form>
    My prediction: {{ predict }}
</body>
</html>
