<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><h1>Breast Cancer Prediction</h1></title>
</head>
<body>
<h2>Breast Cancer Prediction</h2>
    <form action="{{ url_for('predict')}}" method="POST">
        <label for="CT">Clump_Thickness: </label><br>
        <input type="number" id = "CT" name="Clump_Thickness" value="3"><br><br>
        <label for="UCS">Uniformity_of_Cell_Size:</label><br>
        <input type="number" id = "UCS" name="Uniformity_of_Cell_Size" value="3"><br><br>
        <label for="MA"> Marginal_Adhesion:</label><br>
        <input type="number" id="MA" name="Marginal_Adhesion" value="3"><br><br>
      
        <input type=submit    value=Submit><br><br>
   </form>
    <h4> My prediction: {{ predict }} </h4>
    <h4> Prediction values: </h4>
    <h4> 0 = Negative   1 = Positive</h4>

</body>
</html>
